.Rect {
    box-shadow: 50 50 50 50;

}


.shadow1 { 
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  }
  
  .shadow2 { 
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
  }